body {
  margin-top: 50px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #39464e;
}

.navbar-default {
  background-color: #fff !important;
  margin-left: 100px;
  height: 90px;
  border: none !important;
}

/*main side bar*/
.msb {
  width: 100px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #fff;
  overflow: hidden;
}

.msb .navbar {
  border: none;
  margin-left: 0;
  background-color: inherit;
}
.logoBox {
  height: 90px;
  background-color: #fff;
  display: grid;
  place-items: center;
  margin-top: 0px;
}

.msb .navbar-header {
  width: 100%;
  background-color: #fff;
}

.msb .navbar-nav li {
  display: block;
  width: 100%;
}

.msb .navbar-nav li a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  text-align: center;
}

.msb .navbar-nav li a {
  padding: 15px;
  color: #fff;
}

.mc {
  margin-left: 100px;
  position: relative;
  min-height: 100%;
}
.videos {
  position: absolute;
  left: -100px;
  top: 110px;
  height: 90vh;
  width: 107%;
}
.videos a i {
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 10px;
}
.videos {
  background-color: #f5f7f9;
}
.videos h4 {
  text-align: center;
}
.videos input {
  display: block;
  margin: 40px auto;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
}
#div1 {
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 300px;
  border: 1px solid gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#div1 i {
  margin-top: 3px;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}
